@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}


body {
  font-family: "Mulish", sans-serif !important;
}

.nav_text:hover {
  -webkit-text-stroke: 0.4px;
}

.music-card {
  padding: 12px 15px 12px 15px;
  border-radius: 24px;
  transition: .3s linear;
  background: ghostwhite;
  cursor: pointer;
}

.music-card:hover {
  box-shadow: 0px 2px 20px #000;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mw-900 {
  max-width: 900px;
}

.pos_rel {
  position: relative;
  z-index: 10;
}

slick-dots {
  width: 11% !important;
}